@media(min-width:1001px){
    .cards{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
}

@media(max-width:640px){
    .cards{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
}

